

#dat1{
	height: 32px;
	width: 42px;
	border: none;
	border-radius: 5px;
	background-color: #EEE;
	padding: 4px;
}

#dat2{
	height: 32px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background-color: #EEE;
	padding: 4px;
}

#dat3{
	height: 32px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background-color: #EEE;
	padding: 4px;
}

#dat1:hover{
	background-color: #CCC;
}

#dat2:hover{
	background-color: #CCC;
}

#dat3:hover{
	background-color: #CCC;
}

 #dsc{font-size: 18px;}
 
