*{
    margin:0 auto;
    padding:0;
}

body{
    background-color: #8ea1f3;
    /*background-image: url("../img/imgLogin/background.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
    color:#111;
    font-family: verdana;
    font-size: 16px;
}

a:hover{
    color:blue;
    text-decoration: underline;
}

.centerLogin{
    width: 500px;
    height: auto;
    margin-top: 150px;
    border:3px solid royalblue;
    border-radius:3px;
    background-color: #FFF;
}

.logoLogin{
    background-color: #eee;
    border-bottom: 3px solid #111;
}

.logoLogin img{
    margin: 10px;
    border:none;
}

.formularioLogin{
    width:450px;
    min-height: 35px;
    border:1px solid #111;
    margin-top:10px;
}

.formularioLogin img{
    width:30px;
    height:30px;
    margin:5px;
    vertical-align: middle;
}

.formularioLogin input{
    outline: none;
    border:none;
    width:390px;
    padding:5px;
    font-family: verdana;
    font-size: 18px;
}

.btnSubmitLogin{
    width:100px;
    padding:5px;
    font-family: verdana;
    font-size: 18px;
    background-color: #4169e1;
    border:none;
    margin:10px;
    margin-left: 25px;
    color:#FFF;
    cursor: pointer;
    outline:none;
}

.btnSubmitLogin:hover{
    background-color: #3300cc;
}

#log1{
    position: relative; 
    top: 50px; 
    left: -10px;
    width: 100px; 
    height: 10px;
    width: 200px;
        
    
}

